/* custom / temporary styling */
span.p-calendar{
    display: block;
    width: 100%;
}
span.p-calendar input{
    width: 100% !important;
    border-radius: 0;
    max-height: 38px;
}
.p-datepicker{
    z-index: 10002 !important;
}
.p-datatable .p-datatable-thead > tr > th{
    background-color: transparent !important;
}
.historySearch{
    max-width: 300px;
    width: 100%;
    margin-block: 20px;
}
.notAuth{
    display: grid;
    place-items: center;
    height: 100vh;
}
.notAuth h1{
    color: #ff5a5a;
    padding-left: 30px;
    position: relative;
}
.p-dropdown{
    border-radius: 0 !important;
}
@media (max-width:769px){
    .p-dropdown{
        position: absolute !important;
        left: 0;
        bottom: 10px;
    }
}